doctype html
html
	head
		title basis
		//build:css css/main.css
		//bower:css
		//endbower
		//endbuild
		//build:css css/main.css
		//endbuild
	body
		.block
			input.input_block
			span Кода всем-всем-всем!!!
		//build:js/vendor.js
		//bower:js
		//endbower
		//endbuild
		//build:js js/main.js
		//endbuild